@import "tailwindcss";

@theme {
  --color-accents-red: #ff4245ff;
  --color-accents-orange: #ff9230ff;
  --color-accents-yellow: #ffd600ff;
  --color-accents-green: #30d158ff;
  --color-accents-mint: #00dac3ff;
  --color-accents-teal: #00d2e0ff;
  --color-accents-cyan: #3cd3feff;
  --color-accents-blue: #0091ffff;
  --color-accents-indigo: #6d7cffff;
  --color-accents-purple: #db34f2ff;
  --color-accents-pink: #ff375fff;
  --color-accents-brown: #b78a66ff;
  --color-backgrounds-primary: #000000ff;
  --color-backgrounds-secondary: #1c1c1eff;
  --color-backgrounds-tertiary: #2c2c2eff;
  --color-backgrounds-primary---elevated: #1c1c1eff;
  --color-backgrounds-secondary---elevated: #2c2c2eff;
  --color-backgrounds-tertiary---elevated: #3a3a3cff;
  --color-backgrounds-grouped-primary: #000000ff;
  --color-backgrounds-grouped-secondary: #1c1c1eff;
  --color-backgrounds-grouped-tertiary: #2c2c2eff;
  --color-backgrounds-grouped-primary---elevated: #1c1c1eff;
  --color-backgrounds-grouped-secondary---elevated: #2c2c2eff;
  --color-backgrounds-grouped-tertiary---elevated: #3a3a3cff;
  --color-fills-primary: #7878805c;
  --color-fills-secondary: #78788052;
  --color-fills-tertiary: #7676803d;
  --color-fills-quaternary: #7676802e;
  --color-grays-black: #000000ff;
  --color-grays-white: #ffffffff;
  --color-grays-gray: #8e8e93ff;
  --color-grays-gray-2: #636366ff;
  --color-grays-gray-3: #48484aff;
  --color-grays-gray-4: #3a3a3cff;
  --color-grays-gray-5: #2c2c2eff;
  --color-grays-gray-6: #1c1c1eff;
  --color-labels-primary: #ffffffff;
  --color-labels--vibrant-primary: #ffffffff;
  --color-labels--vibrant-secondary: #999999ff;
  --color-labels---vibrant-tertiary: #404040ff;
  --color-labels---vibrant-quaternary: #262626ff;
  --color-labels-secondary: #ebebf599;
  --color-labels-tertiary: #ebebf54d;
  --color-labels-quaternary: #ebebf529;
  --color-labels---vibrant---controls-primary: #bfbfbfff;
  --color-labels---vibrant---controls-secondary: #737373ff;
  --color-labels---vibrant---controls-tertiary: #262626ff;
  --color-overlays-default: #0000007a;
  --color-overlays-activity-view-controller: #0000004a;
  --color-separators-opaque: #38383aff;
  --color-separators-non-opaque: #ffffff2b;
  --color-separators-vibrant: #1a1a1aff;
}

span {
    word-break: keep-all;
    overflow-wrap: break-word;
}
